body {
    background-color:#F5DEB3;
 
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;

  }
  
  .received{
    border-color: #ccc;
    background-color: #ddd;
  }

  #img-right {
    position: relative;
    left:92%;
    max-width: 70px;
    width:100%; 
    

  }
  
  
   #img-left {
    position: relative;
    left:2%;
    max-width: 70px;
    width:100%; 

  }



  .time-right {
    position:relative;
    left:93%;
    overflow-wrap:break-word;
  
  }
  
  .time{
  color:black;
  font-weight:800;
  }
 
  #chat-message-left{
   margin-left:10%;
   overflow-wrap:break-word;
  
  }
  #auditor-chat-message-left{
    margin-left:10%;
    overflow-wrap:break-word;
    color:red;
    font-weight: 900;
   
   }
  .unseen-style{
    font-weight: bold;
  }
  
  #message-row-unseen{
    border:2px solid black;
  }
  .seen-style{
    color:black;
    font-style: italic;
    margin-left:10%;
  }
  #chat-message-right{
    margin-left:83%;
    overflow-wrap:break-word;
   }
   #auditor-chat-message-right{
    margin-left:83%;
    overflow-wrap:break-word;
    color:red;
    font-weight: 900;
   }
  #chat-input{
    margin-top:1%;
}

  #message-input{
  margin-left:7%;
  width:81%;
  }
#chat-input-send-button{
margin-bottom: 3.5%;
}
 
#sender-username{
  margin-left:2%;
  font-weight: 700;
  overflow-wrap:break-word;
}
#receiver-username{
 display:inline-block;
 margin-left:78%;
 font-weight: 700;
 overflow-wrap:break-word;
 
}
#error-p{
  margin-left:8%;
}