
body{

    background-color:#F5DEB3;
}

#create-group-button{
    position:fixed;
    margin-top:1%;
    left:81%;
    font-size:1.1em;
    border: 3px solid #6F4E37;
    border-radius: 1em;
    padding:0.2em;
    color:#1B140A;
    text-decoration: none;
    background-color:white;
}

#create-group-button:hover{
    box-shadow:0.02em 0.01em 0.2em 0.1em #964B00;
    cursor:pointer;
}

#group-img{
    display:inline;
    width:30%;
    height:30%;
}

