
body{

    background-color:#F5DEB3;
}

#navigation-bar{

    margin-bottom:1%;
}
#edit-container{
    position: absolute;
    left:90%;
    top:15%;
    font-size:large;
}

#edit-word{
    text-decoration:none;
    color:black;
}

#user-edit-icon{
    font-size:1.4em;
}
#user-edit-icon:hover{
    cursor:pointer;
}
#profile-background{
    background-color: #f3c998;
}
#profile-image{
    border-radius:5px;
}


.groups-button{
    text-decoration:none;
 
    font-weight: 800;
}
#joined-groups-card,#owned-groups-card{
    display:inline-block;
    width:40% !important;
    background-color: #f3dec6;
}

#message-box-container{

    position: absolute;
    left:90%;
    top:15%;
    font-size:x-large;
    font-weight: 600;
}
#message-box-container:hover{
    box-shadow:0.01em 0.01em 0.1em 0.1em #964B00;
}
#message-link{
    text-decoration:none;
    color:black;
    padding:10%;
}
#username{
    font-size:2em;
    font-weight: 500;
   
}
#age{
    font-size:2em;
    font-weight: 500;
    position:relative;
    right:98%;
    top:18%;
  
}

#auditor-badge{
    position: absolute;
    font-size:x-large;
    right:60%;
    top:12%;
    color:rgb(3, 3, 54);
    text-shadow:1px 1px 5px red;
}
#hr-badge{
    position: absolute;
    font-size:xx-large;
    right:65%;
    top:12%;
    color:rgb(3, 3, 54);
    text-shadow:1px 1px 5px rgb(17, 4, 4);
}
#penalty-container{
    position: absolute;
    left:25%;
    top:30%;
    font-size:x-large;
}

#penalty-word{
    text-decoration:none;
    color:black;
}
#contactHR-container{
    position: absolute;
    left:89.5%;
    top:30%;
    font-size:large;
}

#contactHR-word{
    text-decoration:none;
    color:black;
}
#phone-icon{
    font-size:x-large;
}